---
import IndexLayout from '../app/IndexLayout.astro'
import TwitchButton from '../components/TwitchButton.astro'
import SpotifyButton from '../components/SpotifyButton.astro'
---
<IndexLayout>
	<main class="px-6 bg-gray-50 dark: dark:bg-gray-900 w-full h-full min-h-screen pt-16">
        <h1 class="text-gray-900 dark:text-white text-4xl font-extrabold">Digittron Twitch Setup</h1>
        <hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700">
        <p class="mb-6 text-lg font-normal text-gray-500 lg:text-xl dark:text-gray-400">
            To allow Digittron access to your channel, you must click the button below to authorize it.
            <br />
            This authorization will be automatically refreshed when needed. To revoke Digittron's access to your account,
            you can do so via the <a href="https://www.twitch.tv/settings/connections" target="_blank">Connections</a> page on Twitch.
        </p>
        <TwitchButton />

        <p class="my-6 text-lg font-normal text-gray-500 lg:text-xl dark:text-gray-400">
            If you plan on using the song request feature, you must allow Digittron access to your Spotify account.
            <br />
            This access will be automatically refreshed when needed.
        </p>
        <SpotifyButton />
        <div id="toast-success" class="
        absolute left-0 right-0 my-0 mx-auto top-2/3
        transition-opacity opacity-0 duration-500 ease-in-out 
        flex flex-wrap items-center w-full max-w-xs 
        p-4 text-gray-500 bg-white rounded-lg 
        shadow dark:text-gray-400 dark:bg-gray-800" 
        role="alert">
            <div class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-green-500 bg-green-100 rounded-lg dark:bg-green-800 dark:text-green-200">
                <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
                </svg>
                <span class="sr-only">Check icon</span>
            </div>
            <div class="ms-3 text-sm font-normal">Spotify authentication successful.</div>
            <button type="button" class="
            ms-auto -mx-1.5 -my-1.5 bg-white text-gray-400 
            hover:text-gray-900 rounded-lg focus:ring-2 
            focus:ring-gray-300 p-1.5 hover:bg-gray-100 
            inline-flex items-center justify-center h-8 w-8 
            dark:text-gray-500 dark:hover:text-white 
            dark:bg-gray-800 dark:hover:bg-gray-700" 
            data-dismiss-target="#toast-success" 
            aria-controls="#toast-success"
            aria-label="Close">
                <span class="sr-only">Close</span>
                <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                </svg>
            </button>
            <div id="progress" class="h-2 w-full dark:bg-gray-600 absolute bottom-0 left-0 rounded-b-lg">
                <span id="progress-bar" class="bg-green-600 h-2 w-0 absolute bottom-0 left-0 rounded-b-lg transition-[width] ease-in-out duration-[5000ms]"></span>
            </div>
        </div>
	</main>
</IndexLayout>


// TODO: replace with local flowbite js
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"></script>
<script>

type OauthResult = {
    stateType: string,
    success: boolean
}
function getCookie(name: string): string | undefined {
  const value = `; ${document.cookie}`;
  const parts = value.split(`; ${name}=`);
  if (parts.length === 2) {
    return parts.pop()?.split(';').shift()
  }
}

function deleteCookie( name: string) {
  if( getCookie(name) ) {
    document.cookie = name+'=; Max-Age=-99999999;';
  }
}

const cookie = getCookie('oauth_result')
let result: OauthResult = {} as OauthResult
if (cookie !== undefined && cookie.length > 0) {
    // toggle visibility of toast
    result = JSON.parse(decodeURIComponent(cookie))
    deleteCookie('oauth_result') // cookie no longer needed, safe to delete
}

if (result.stateType === 'spotify') {
    if (result.success) {
        const toast = document.querySelector<HTMLElement>('#toast-success') ?? undefined
        const progress = document.querySelector<HTMLElement>('#progress-bar') ?? undefined
        if (!toast || !progress) {
            throw Error('Could not find toast element or child')
        }
        console.debug('toast class list', toast.classList)
        toast.classList.add('opacity-100')
        progress.classList.add('w-full')
        setTimeout(() => {
            toast.classList.remove('opacity-100')
            progress.classList.remove('w-full')
        }, 5000)
    }
} else if (result.stateType === 'twitch') {

}
</script>