---
// src/pages/signup.astro
import { auth } from "../lib/lucia";
import { createContext, Prisma } from "@secondubly/digittron-db";
import IndexLayout from "../app/IndexLayout.astro";
let errorMessage: string | null = null;
const prisma = await createContext()

// check for form submissions
if (Astro.request.method === "POST") {
	const formData = await Astro.request.formData();
	const username = formData.get("username");
	const password = formData.get("password");
	// basic check
	const validUsername =
		typeof username === "string" &&
		username.length >= 4 &&
		username.length <= 31;
	const validPassword =
		typeof password === "string" &&
		password.length >= 6 &&
		password.length <= 255;
	if (validUsername && validPassword) {
		try {
			const user = await auth.createUser({
				key: {
					providerId: "username", // auth method
					providerUserId: username.toLowerCase(), // unique id when using "username" auth method
					password // hashed by Lucia
				},
				attributes: {
					username
				}
			});
			const session = await auth.createSession({
				userId: user.userId,
				attributes: {}
			});
			Astro.locals.auth.setSession(session); // set session cookie
			return Astro.redirect("/dashboard", 302); // redirect to profile page
		} catch (e) {
			// this part depends on the database you're using
			// check for unique constraint error in user table
			if (
				e instanceof Prisma.PrismaClientKnownRequestError &&
				e.code === 'P2002'
			) {
				errorMessage = "Username already taken";
			} else {
				errorMessage = "An unknown error occurred";
			}
		}
	} else {
		if (!validUsername && !validPassword) {
			errorMessage = 'Invalid input'
		} else if(!validUsername) {
			errorMessage = 'Invalid username.'
		} else {
			errorMessage = 'Invalid password.'
		}
	}
}

// redirect authenticated users
const session = await Astro.locals.auth.validate();
if (session) return Astro.redirect("/dashboard", 302); // redirect to profile page
---
<IndexLayout data-error={errorMessage}>
	<main class="px-6 bg-gray-50 dark: dark:bg-gray-900 w-full h-full min-h-screen pt-16">
		<h1 class="max-w-sm mx-auto text-center mb-10 capitalize b-4 text-3xl font-extrabold text-gray-900 dark:text-white md:text-5xl lg:text-6xl">Sign up</h1>
		<form method="post" class="max-w-sm mx-auto">
			<label for="username" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Username</label>
			<div class="flex mb-5">
			  <span class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 border border-e-0 border-gray-300 rounded-s-md dark:bg-gray-600 dark:text-gray-400 dark:border-gray-600">
				<svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
				  <path d="M10 0a10 10 0 1 0 10 10A10.011 10.011 0 0 0 10 0Zm0 5a3 3 0 1 1 0 6 3 3 0 0 1 0-6Zm0 13a8.949 8.949 0 0 1-4.951-1.488A3.987 3.987 0 0 1 9 13h2a3.987 3.987 0 0 1 3.951 3.512A8.949 8.949 0 0 1 10 18Z"/>
				</svg>
			  </span>
			  <input type="text" id="username" name="username" 
			  class="peer rounded-none rounded-e-lg bg-gray-50 border 
			  border-gray-300 text-gray-900 focus:ring-blue-500 
			  focus:border-blue-500 block flex-1 min-w-0 w-full text-sm p-2.5  
			  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 
			  dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500
			  invalid:bg-red-50 invalid:border invalid:border-red-500 
				invalid:text-red-900 invalid:placeholder-red-700 
				dark:invalid:bg-red-100 dark:invalid:border-red-400
				focus:invalid:ring-red-500 focus:invalid:border-red-500" 
			  placeholder="Username"
			  minlength="4"
			  maxlength="31"
			  required />
			  <p id="error-msg" class="inline-flex mt-2 invisible peer-invalid:visible text-sm text-red-600 dark:text-red-500"><span class="font-medium">{errorMessage}</span></p>
			</div>
			<label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
			<div class="flex mb-5">
			  <span class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 border border-e-0 border-gray-300 rounded-s-md dark:bg-gray-600 dark:text-gray-400 dark:border-gray-600">
				<svg class="w-4 h-4 text-gray-500 dark:text-gray-400" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
					<path fill="currentColor" d="M6 22q-.825 0-1.412-.587T4 20V10q0-.825.588-1.412T6 8h1V6q0-2.075 1.463-3.537T12 1q2.075 0 3.538 1.463T17 6v2h1q.825 0 1.413.588T20 10v10q0 .825-.587 1.413T18 22H6Zm0-2h12V10H6v10Zm6-3q.825 0 1.413-.587T14 15q0-.825-.587-1.412T12 13q-.825 0-1.412.588T10 15q0 .825.588 1.413T12 17ZM9 8h6V6q0-1.25-.875-2.125T12 3q-1.25 0-2.125.875T9 6v2ZM6 20V10v10Z"/>
				</svg>
			  </span>
			  <input type="password" id="password" name="password" class="
			  	peer
			  	rounded-none rounded-e-lg bg-gray-50 border border-gray-300 
				text-gray-900 focus:ring-blue-500 focus:border-blue-500 
				block flex-1 min-w-0 w-full text-sm p-2.5  
				dark:bg-gray-700 
				dark:border-gray-600 dark:placeholder-gray-400 
				dark:text-white dark:focus:ring-blue-500 
				dark:focus:border-blue-500
				invalid:bg-red-50 invalid:border invalid:border-red-500 
				invalid:text-red-900 invalid:placeholder-red-700 
				dark:invalid:bg-red-100 dark:invalid:border-red-400
				focus:invalid:ring-red-500 focus:invalid:border-red-500" 
				placeholder="Password" 
				required
				minlength="6"
				maxlength="255"/>
				<p id="error-msg" class="inline-flex mt-2 invisible peer-invalid:visible text-sm text-red-600 dark:text-red-500"><span class="font-medium">{errorMessage}</span></p>
			</div>
			<button type="submit" id="submit"
			class="text-white bg-twitch-purple hover:bg-purple-600 
			focus:ring-4 focus:outline-none focus:ring-blue-300 
			font-medium rounded-lg text-sm w-full sm:w-auto 
			px-5 py-2.5 text-center">Sign Up</button>
			<br />
			<br />
			<a href="/login" class="inline mt-5 text-twitch-purple-dark dark:text-twitch-purple hover:underline">Sign in</a>
		</form>
	</main>
</IndexLayout>

<script>
	
</script>