---
import LayoutMain from "./LayoutMain.astro"
import NavBarSidebar from "../components/NavBarSidebar.astro"
import SideBar from "./SideBar.astro"
---
<LayoutMain title="Dashboard">
    <NavBarSidebar />

    <SideBar />

    
	<div class="flex pt-16 overflow-hidden bg-gray-50 dark:bg-gray-900">
		<div
			id="main-content"
			class="relative w-full h-full overflow-y-auto bg-gray-50 lg:ml-64 dark:bg-gray-900 min-h-screen"
		>
			<slot />
		</div>
	</div>
</LayoutMain>