<div class="relative mb-6">
    <label for="cooldown-timer" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Cooldown Timer</label>
    <input id="cooldown-timer" name="cooldown-timer" type="range" min="5" max="300" value="5" class="w-full h-2 bg-gray-200 rounded-lg appearance-none cursor-pointer dark:bg-gray-700">
    <output id="cooldown-value" />
</div>