---
import EnabledButton from '../components/EnabledButton.astro'
import DisabledButton from '../components/DisabledButton.astro'
import EnabledButtonToggle from '../components/EnableButtonToggle.astro'
import CommandConfigButton from './CommandConfigButton.astro'
import { prisma } from '../lib/lucia.js'

const result = await prisma.commands.findMany({
    where: {
        type: 'DEFAULT'
    },
	include: {
		command_permissions: {
			select: {
				level: true
			}
		}
	}
})

const commands = result.map((command) => {
	return {
		id: command.id,
		name: command.name,
		aliases: command.aliases,
		response: command.response,
		enabled: command.enabled,
		visible: command.visible,
		permission_level: command.command_permissions.level
	}
})

console.log(commands)
---
<div class="m-12 relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3 w-2.5">
                    Status
                </th>
                <th scope="col" class="px-6 py-3">
                    Command
                </th>
                <th scope="col" class="px-6 py-3">
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            {commands.map((command) => (
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                    <td class="px-6 py-4">{command.enabled ? <EnabledButton /> : <DisabledButton />}</td>
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">!{command.name}</th>
                    <td class="px-6 py-4">
                            <EnabledButtonToggle />
                            <CommandConfigButton />
                    </td>
                </tr>
            ))}
        </tbody>
    </table>
</div>