---
const { title, icon, desc } = Astro.props;
---
<button type="button" class="
    w-full
    px-6 py-3.5
    text-base font-bold 
    text-ice bg-twitch-purple 
    hover:bg-purple-600 focus:ring-4 
    focus:outline-none focus:ring-blue-300 
    rounded-lg text-center 
    dark:bg-blue-600 dark:hover:bg-blue-700 
    dark:focus:ring-blue-800">
        {title}
</button>