---
const { permission } = Astro.props
import { $Enums } from "@prisma/client"

const permissionLevels = Object.values($Enums.PermissionLevel).reduce((result, permission) => {
    if (permission === $Enums.PermissionLevel.VIP) {
        result.push(permission)
    } else {
        let titleCase = permission[0].toLocaleUpperCase()
        const final = titleCase + permission.substring(1, permission.length).toLocaleLowerCase()
        result.push(final)
    }
    
    return result
}, [] as string[])

---
<label for="permission-level" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">User Level:</label>
<select id="permission-level" name="permission-level" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">                  
    {permissionLevels.map((perm) => {
        const permissionUppercase = perm.toLocaleUpperCase()
        return <option value={permissionUppercase} selected={permissionUppercase === permission ? "selected" : undefined}>{perm}</option>
    })}
</select>